.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-bottom: 2rem;
    z-index: 2;
    background: #eaeaf3;
    background: -webkit-radial-gradient(circle, #eaeaf3 0%, #e0d2e6 100%);
    background: radial-gradient(circle, #eaeaf3 0%, #e0d2e6 100%);
}

.links:hover {
    text-decoration: none;
}

.logo {
    border-radius: 20%;
}

.menu-card {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
}


@media screen and (max-width : 645px) {

    .menu {
        display: none;
    }
}